*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container
{
  max-width: 600px;
  margin: 2rem auto;
}

.card
{
  display: flex;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}

.description
{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}